[submodule "sensor-integration"]
	path = lib/sensor-integration
	url = https://github.com/munozyanez/sensor-integration.git
[submodule "lib/teoMWI"]
	path = lib/teoMWI
	url = https://github.com/munozyanez/teoMWI.git
[submodule "lib/gait"]
	path = lib/gait
	url = https://github.com/roboticslab-uc3m/gait.git
[submodule "lib/i-kinematics"]
	path = lib/i-kinematics
	url = https://github.com/munozyanez/i-kinematics.git
